{% extends '__base__.html' %}<!--从 __base__.html中继承一个blogs页面 -->

{% block title %}日志{% endblock %}

{% block beforehead %}

<script>

function initVM(data) {
    var vm = new Vue({
        el: '#vm',
        data: {
            blogs: data.blogs,
            page: data.page
        },
        methods: {
            
        }
    });
    $('#vm').show();
}

$(function() {
    getJSON('/api/blogs', {
        page: {{ page_index }}
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        initVM(results);
    });
});


</script>

{% endblock %}

{% block content %}
    <div id="vm" class="uk-width-medium-3-4">
        <div v-repeat="blog: blogs">
            <article class="uk-article">
                <h2><a v-attr="href: '/blog/'+blog.id" v-text="blog.name"></a></h2>
                <p class="uk-article-meta">发表于<i v-text="blog.created_at.toDateTime()"></i></p>
                <p v-text="blog.summary"></p>
                <p><a v-attr="href: '/blog/'+blog.id"">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
            </article>
            <hr class="uk-article-divider">
        </div> 
        <div v-component="pagination" v-with="page"></div>
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">编程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">读书</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Python教程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Git教程</a></li>
            </ul>
        </div>
    </div>
{% endblock %}